@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #022b3a   ;
  --secondary-color: #1f7a8c ;
  --accent1-color: #bfdbf7;
  --accent2-color: #e1e5f2;

  /* change the values below to your chosen font(s) */
  --heading-font: Montserrat;
  --paragraph-font: "DM Sans", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #1f7a8c;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #1f7a8c; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #1f7a8c  ;
  --nav-link-color: #bfdbf7;
  --nav-background-color: #022b3a;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #1f7a8c;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}
header {
  display: grid;
  grid-template-columns: 128px auto;
  background-color: var(--nav-background-color) 
}
.logo {
  width: 128px
}
.logo_link {
  height: 128px;
}
.flip-box {
  background-color: transparent;
  width: 128px;
  height: 128px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
a {
  font-family: var(--paragraph-font);
  text-decoration: none;
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  justify-content: right;
  text-align: center;
  font-size: 1.6em;
  list-style-type: none;
  display: flex;
}
nav a {
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  padding-top: 20px;
  font-family: var(--paragraph-font);
  margin-left: 50px;
  margin-right: 50px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
#hero{
  display: grid;
  grid-template-columns: 200px 3fr 50px;
  grid-template-rows: 1fr 1fr;
  margin-top: -100px; 
  height: 900px;
  overflow: hidden;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -2;
}
#hero-box-shading {
  background-color: rgba(13, 21, 58, 0.459);
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-msg{
  grid-area: 1/2/2/3;
  justify-self: left;
  align-self: center;
  margin-top: 150px;
}
#hero-msg h4 {
  color: white;
  font-size: 4em;
}       
.home-title {
  font-size: 9em;
  color: white;
}
#hero-img {
  height: 120%;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
#home-works-bg {
  grid-column: 1/11;
  grid-row: 1/2;
  height: auto;
  background: #175f6d;
}
.home-works {
  grid-column: 2/9;
  grid-row: 1/2;
}
.home-works h2, .home-works p, .home-works a{
  color: white;
  font-size: 200%;
}
.home-works h2{
  margin-top: 100px;
  font-size: 300%;
}
.home-works p{
  padding: 0;
}
.home-works a{
  padding: 20px 100px;
  background-color: #1f7a8c;
  border: solid #022b3a;
}
.home-works div:nth-of-type(1){
  height: 30px;
}
.home-works div:nth-of-type(2){
  height: 100px;
}
#home-workwithme-bg {
  grid-column: 1/11;
  grid-row: 2/3;
  height: auto;
  background: #04475f;
}
.home-workwithme {
  grid-column: 2/6;
  grid-row: 2/3;
}
.home-workwithme h2, .home-workwithme p{
  color: white;
  font-size: 200%;
  padding: 0;
}
.home-workwithme h2{
  margin-top: 100px;
  font-size: 300%;
}
.planning {
  grid-column: 7/11;
  grid-row: 2/3;
  width: 95%;
  height: 710px;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid #022b3a;
}
.planning img{
  height: 730px;
  margin-top: -20px;
  margin-left: -265px;
}
footer {
  background-color: var(--nav-background-color); 
  color: #002c7d;
  padding: 25px 25px;
  display: grid;
  grid-template-columns: 500px auto 200px;
  height: 128px;
}
.footer-links {
  display: flex;
  justify-content: right;
  align-content: center;
  list-style-type: none;
  margin-top: 30px;
}
footer p, footer a{
  font-size: 1.5em; 
}    
footer a {
  text-decoration: none;
  padding: 25px;
  height: 30px;
  margin-left: 50px;

}
footer a:link, footer a:visited {
  color: var(--nav-link-color);
}
footer a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  border-radius: 100px;
}
.social img {
  background-color: var(--nav-link-color);
  width: 80px;
  border-radius: 100px;
}
.social a {
  display: inline-block;
  height: 80px;
  margin-left: 50px;
}